/backMobile/node_modules/
/biometric_login_app/*.class
/biometric_login_app/*.log
/biometric_login_app/*.pyc
/biometric_login_app/*.swp
/biometric_login_app/.DS_Store
/biometric_login_app/.atom/
/biometric_login_app/.buildlog/
/biometric_login_app/.history
/biometric_login_app/.svn/
/biometric_login_app/migrate_working_dir/
/biometric_login_app/*.iml
/biometric_login_app/*.ipr
/biometric_login_app/*.iws
/biometric_login_app/.idea/
/biometric_login_app/.vscode/
/biometric_login_app/**/doc/api/
/biometric_login_app/**/ios/Flutter/.last_build_id
/biometric_login_app/.dart_tool/
/biometric_login_app/.flutter-plugins
/biometric_login_app/.flutter-plugins-dependencies
/biometric_login_app/.pub-cache/
/biometric_login_app/.pub/
/biometric_login_app/build/
/biometric_login_app/app.*.symbols
/biometric_login_app/app.*.map.json
/biometric_login_app/android/app/debug
/biometric_login_app/android/app/profile
/biometric_login_app/android/app/release
/calculadora/*.class
/calculadora/*.log
/calculadora/*.pyc
/calculadora/*.swp
/calculadora/.DS_Store
/calculadora/.atom/
/calculadora/.buildlog/
/calculadora/.history
/calculadora/.svn/
/calculadora/migrate_working_dir/
/calculadora/*.iml
/calculadora/*.ipr
/calculadora/*.iws
/calculadora/.idea/
/calculadora/.vscode/
/calculadora/**/doc/api/
/calculadora/**/ios/Flutter/.last_build_id
/calculadora/.dart_tool/
/calculadora/.flutter-plugins
/calculadora/.flutter-plugins-dependencies
/calculadora/.pub-cache/
/calculadora/.pub/
/calculadora/build/
/calculadora/app.*.symbols
/calculadora/app.*.map.json
/calculadora/android/app/debug
/calculadora/android/app/profile
/calculadora/android/app/release
/flutter_application_1/*.class
/flutter_application_1/*.log
/flutter_application_1/*.pyc
/flutter_application_1/*.swp
/flutter_application_1/.DS_Store
/flutter_application_1/.atom/
/flutter_application_1/.buildlog/
/flutter_application_1/.history
/flutter_application_1/.svn/
/flutter_application_1/migrate_working_dir/
/flutter_application_1/*.iml
/flutter_application_1/*.ipr
/flutter_application_1/*.iws
/flutter_application_1/.idea/
/flutter_application_1/.vscode/
/flutter_application_1/**/doc/api/
/flutter_application_1/**/ios/Flutter/.last_build_id
/flutter_application_1/.dart_tool/
/flutter_application_1/.flutter-plugins
/flutter_application_1/.flutter-plugins-dependencies
/flutter_application_1/.pub-cache/
/flutter_application_1/.pub/
/flutter_application_1/build/
/flutter_application_1/app.*.symbols
/flutter_application_1/app.*.map.json
/flutter_application_1/android/app/debug
/flutter_application_1/android/app/profile
/flutter_application_1/android/app/release
/frontend_eventapp/*.class
/frontend_eventapp/*.log
/frontend_eventapp/*.pyc
/frontend_eventapp/*.swp
/frontend_eventapp/.DS_Store
/frontend_eventapp/.atom/
/frontend_eventapp/.buildlog/
/frontend_eventapp/.history
/frontend_eventapp/.svn/
/frontend_eventapp/migrate_working_dir/
/frontend_eventapp/*.iml
/frontend_eventapp/*.ipr
/frontend_eventapp/*.iws
/frontend_eventapp/.idea/
/frontend_eventapp/.vscode/
/frontend_eventapp/**/doc/api/
/frontend_eventapp/**/ios/Flutter/.last_build_id
/frontend_eventapp/.dart_tool/
/frontend_eventapp/.flutter-plugins
/frontend_eventapp/.flutter-plugins-dependencies
/frontend_eventapp/.pub-cache/
/frontend_eventapp/.pub/
/frontend_eventapp/build/
/frontend_eventapp/app.*.symbols
/frontend_eventapp/app.*.map.json
/frontend_eventapp/android/app/debug
/frontend_eventapp/android/app/profile
/frontend_eventapp/android/app/release
/geolocalization_app/*.class
/geolocalization_app/*.log
/geolocalization_app/*.pyc
/geolocalization_app/*.swp
/geolocalization_app/.DS_Store
/geolocalization_app/.atom/
/geolocalization_app/.buildlog/
/geolocalization_app/.history
/geolocalization_app/.svn/
/geolocalization_app/migrate_working_dir/
/geolocalization_app/*.iml
/geolocalization_app/*.ipr
/geolocalization_app/*.iws
/geolocalization_app/.idea/
/geolocalization_app/.vscode/
/geolocalization_app/**/doc/api/
/geolocalization_app/**/ios/Flutter/.last_build_id
/geolocalization_app/.dart_tool/
/geolocalization_app/.flutter-plugins
/geolocalization_app/.flutter-plugins-dependencies
/geolocalization_app/.pub-cache/
/geolocalization_app/.pub/
/geolocalization_app/build/
/geolocalization_app/app.*.symbols
/geolocalization_app/app.*.map.json
/geolocalization_app/android/app/debug
/geolocalization_app/android/app/profile
/geolocalization_app/android/app/release
/gps_app/*.class
/gps_app/*.log
/gps_app/*.pyc
/gps_app/*.swp
/gps_app/.DS_Store
/gps_app/.atom/
/gps_app/.buildlog/
/gps_app/.history
/gps_app/.svn/
/gps_app/migrate_working_dir/
/gps_app/*.iml
/gps_app/*.ipr
/gps_app/*.iws
/gps_app/.idea/
/gps_app/.vscode/
/gps_app/**/doc/api/
/gps_app/**/ios/Flutter/.last_build_id
/gps_app/.dart_tool/
/gps_app/.flutter-plugins
/gps_app/.flutter-plugins-dependencies
/gps_app/.pub-cache/
/gps_app/.pub/
/gps_app/build/
/gps_app/app.*.symbols
/gps_app/app.*.map.json
/gps_app/android/app/debug
/gps_app/android/app/profile
/gps_app/android/app/release
/huella_qutenticator/*.class
/huella_qutenticator/*.log
/huella_qutenticator/*.pyc
/huella_qutenticator/*.swp
/huella_qutenticator/.DS_Store
/huella_qutenticator/.atom/
/huella_qutenticator/.buildlog/
/huella_qutenticator/.history
/huella_qutenticator/.svn/
/huella_qutenticator/migrate_working_dir/
/huella_qutenticator/*.iml
/huella_qutenticator/*.ipr
/huella_qutenticator/*.iws
/huella_qutenticator/.idea/
/huella_qutenticator/.vscode/
/huella_qutenticator/**/doc/api/
/huella_qutenticator/**/ios/Flutter/.last_build_id
/huella_qutenticator/.dart_tool/
/huella_qutenticator/.flutter-plugins
/huella_qutenticator/.flutter-plugins-dependencies
/huella_qutenticator/.pub-cache/
/huella_qutenticator/.pub/
/huella_qutenticator/build/
/huella_qutenticator/app.*.symbols
/huella_qutenticator/app.*.map.json
/huella_qutenticator/android/app/debug
/huella_qutenticator/android/app/profile
/huella_qutenticator/android/app/release
/jwt_app/*.class
/jwt_app/*.log
/jwt_app/*.pyc
/jwt_app/*.swp
/jwt_app/.DS_Store
/jwt_app/.atom/
/jwt_app/.buildlog/
/jwt_app/.history
/jwt_app/.svn/
/jwt_app/migrate_working_dir/
/jwt_app/*.iml
/jwt_app/*.ipr
/jwt_app/*.iws
/jwt_app/.idea/
/jwt_app/.vscode/
/jwt_app/**/doc/api/
/jwt_app/**/ios/Flutter/.last_build_id
/jwt_app/.dart_tool/
/jwt_app/.flutter-plugins
/jwt_app/.flutter-plugins-dependencies
/jwt_app/.pub-cache/
/jwt_app/.pub/
/jwt_app/build/
/jwt_app/app.*.symbols
/jwt_app/app.*.map.json
/jwt_app/android/app/debug
/jwt_app/android/app/profile
/jwt_app/android/app/release
/lista_usuarios/*.class
/lista_usuarios/*.log
/lista_usuarios/*.pyc
/lista_usuarios/*.swp
/lista_usuarios/.DS_Store
/lista_usuarios/.atom/
/lista_usuarios/.buildlog/
/lista_usuarios/.history
/lista_usuarios/.svn/
/lista_usuarios/migrate_working_dir/
/lista_usuarios/*.iml
/lista_usuarios/*.ipr
/lista_usuarios/*.iws
/lista_usuarios/.idea/
/lista_usuarios/.vscode/
/lista_usuarios/**/doc/api/
/lista_usuarios/**/ios/Flutter/.last_build_id
/lista_usuarios/.dart_tool/
/lista_usuarios/.flutter-plugins
/lista_usuarios/.flutter-plugins-dependencies
/lista_usuarios/.pub-cache/
/lista_usuarios/.pub/
/lista_usuarios/build/
/lista_usuarios/app.*.symbols
/lista_usuarios/app.*.map.json
/lista_usuarios/android/app/debug
/lista_usuarios/android/app/profile
/lista_usuarios/android/app/release
/lista_usuarios_http_request/*.class
/lista_usuarios_http_request/*.log
/lista_usuarios_http_request/*.pyc
/lista_usuarios_http_request/*.swp
/lista_usuarios_http_request/.DS_Store
/lista_usuarios_http_request/.atom/
/lista_usuarios_http_request/.buildlog/
/lista_usuarios_http_request/.history
/lista_usuarios_http_request/.svn/
/lista_usuarios_http_request/migrate_working_dir/
/lista_usuarios_http_request/*.iml
/lista_usuarios_http_request/*.ipr
/lista_usuarios_http_request/*.iws
/lista_usuarios_http_request/.idea/
/lista_usuarios_http_request/.vscode/
/lista_usuarios_http_request/**/doc/api/
/lista_usuarios_http_request/**/ios/Flutter/.last_build_id
/lista_usuarios_http_request/.dart_tool/
/lista_usuarios_http_request/.flutter-plugins
/lista_usuarios_http_request/.flutter-plugins-dependencies
/lista_usuarios_http_request/.pub-cache/
/lista_usuarios_http_request/.pub/
/lista_usuarios_http_request/build/
/lista_usuarios_http_request/app.*.symbols
/lista_usuarios_http_request/app.*.map.json
/lista_usuarios_http_request/android/app/debug
/lista_usuarios_http_request/android/app/profile
/lista_usuarios_http_request/android/app/release
/login_app/*.class
/login_app/*.log
/login_app/*.pyc
/login_app/*.swp
/login_app/.DS_Store
/login_app/.atom/
/login_app/.buildlog/
/login_app/.history
/login_app/.svn/
/login_app/migrate_working_dir/
/login_app/*.iml
/login_app/*.ipr
/login_app/*.iws
/login_app/.idea/
/login_app/.vscode/
/login_app/**/doc/api/
/login_app/**/ios/Flutter/.last_build_id
/login_app/.dart_tool/
/login_app/.flutter-plugins
/login_app/.flutter-plugins-dependencies
/login_app/.pub-cache/
/login_app/.pub/
/login_app/build/
/login_app/app.*.symbols
/login_app/app.*.map.json
/login_app/android/app/debug
/login_app/android/app/profile
/login_app/android/app/release
/login_bio_app/*.class
/login_bio_app/*.log
/login_bio_app/*.pyc
/login_bio_app/*.swp
/login_bio_app/.DS_Store
/login_bio_app/.atom/
/login_bio_app/.buildlog/
/login_bio_app/.history
/login_bio_app/.svn/
/login_bio_app/migrate_working_dir/
/login_bio_app/*.iml
/login_bio_app/*.ipr
/login_bio_app/*.iws
/login_bio_app/.idea/
/login_bio_app/.vscode/
/login_bio_app/**/doc/api/
/login_bio_app/**/ios/Flutter/.last_build_id
/login_bio_app/.dart_tool/
/login_bio_app/.flutter-plugins
/login_bio_app/.flutter-plugins-dependencies
/login_bio_app/.pub-cache/
/login_bio_app/.pub/
/login_bio_app/build/
/login_bio_app/app.*.symbols
/login_bio_app/app.*.map.json
/login_bio_app/android/app/debug
/login_bio_app/android/app/profile
/login_bio_app/android/app/release
/login_mfa_app/*.class
/login_mfa_app/*.log
/login_mfa_app/*.pyc
/login_mfa_app/*.swp
/login_mfa_app/.DS_Store
/login_mfa_app/.atom/
/login_mfa_app/.buildlog/
/login_mfa_app/.history
/login_mfa_app/.svn/
/login_mfa_app/migrate_working_dir/
/login_mfa_app/*.iml
/login_mfa_app/*.ipr
/login_mfa_app/*.iws
/login_mfa_app/.idea/
/login_mfa_app/.vscode/
/login_mfa_app/**/doc/api/
/login_mfa_app/**/ios/Flutter/.last_build_id
/login_mfa_app/.dart_tool/
/login_mfa_app/.flutter-plugins
/login_mfa_app/.flutter-plugins-dependencies
/login_mfa_app/.pub-cache/
/login_mfa_app/.pub/
/login_mfa_app/build/
/login_mfa_app/app.*.symbols
/login_mfa_app/app.*.map.json
/login_mfa_app/android/app/debug
/login_mfa_app/android/app/profile
/login_mfa_app/android/app/release
/modal_btn_app/*.class
/modal_btn_app/*.log
/modal_btn_app/*.pyc
/modal_btn_app/*.swp
/modal_btn_app/.DS_Store
/modal_btn_app/.atom/
/modal_btn_app/.buildlog/
/modal_btn_app/.history
/modal_btn_app/.svn/
/modal_btn_app/migrate_working_dir/
/modal_btn_app/*.iml
/modal_btn_app/*.ipr
/modal_btn_app/*.iws
/modal_btn_app/.idea/
/modal_btn_app/.vscode/
/modal_btn_app/**/doc/api/
/modal_btn_app/**/ios/Flutter/.last_build_id
/modal_btn_app/.dart_tool/
/modal_btn_app/.flutter-plugins
/modal_btn_app/.flutter-plugins-dependencies
/modal_btn_app/.pub-cache/
/modal_btn_app/.pub/
/modal_btn_app/build/
/modal_btn_app/app.*.symbols
/modal_btn_app/app.*.map.json
/modal_btn_app/android/app/debug
/modal_btn_app/android/app/profile
/modal_btn_app/android/app/release
/parcial_final/*.class
/parcial_final/*.log
/parcial_final/*.pyc
/parcial_final/*.swp
/parcial_final/.DS_Store
/parcial_final/.atom/
/parcial_final/.buildlog/
/parcial_final/.history
/parcial_final/.svn/
/parcial_final/migrate_working_dir/
/parcial_final/*.iml
/parcial_final/*.ipr
/parcial_final/*.iws
/parcial_final/.idea/
/parcial_final/.vscode/
/parcial_final/**/doc/api/
/parcial_final/**/ios/Flutter/.last_build_id
/parcial_final/.dart_tool/
/parcial_final/.flutter-plugins
/parcial_final/.flutter-plugins-dependencies
/parcial_final/.pub-cache/
/parcial_final/.pub/
/parcial_final/build/
/parcial_final/app.*.symbols
/parcial_final/app.*.map.json
/parcial_final/android/app/debug
/parcial_final/android/app/profile
/parcial_final/android/app/release
/project_english/*.class
/project_english/*.log
/project_english/*.pyc
/project_english/*.swp
/project_english/.DS_Store
/project_english/.atom/
/project_english/.buildlog/
/project_english/.history
/project_english/.svn/
/project_english/migrate_working_dir/
/project_english/*.iml
/project_english/*.ipr
/project_english/*.iws
/project_english/.idea/
/project_english/.vscode/
/project_english/**/doc/api/
/project_english/**/ios/Flutter/.last_build_id
/project_english/.dart_tool/
/project_english/.flutter-plugins
/project_english/.flutter-plugins-dependencies
/project_english/.pub-cache/
/project_english/.pub/
/project_english/build/
/project_english/app.*.symbols
/project_english/app.*.map.json
/project_english/android/app/debug
/project_english/android/app/profile
/project_english/android/app/release
/quiz_app/*.class
/quiz_app/*.log
/quiz_app/*.pyc
/quiz_app/*.swp
/quiz_app/.DS_Store
/quiz_app/.atom/
/quiz_app/.buildlog/
/quiz_app/.history
/quiz_app/.svn/
/quiz_app/migrate_working_dir/
/quiz_app/*.iml
/quiz_app/*.ipr
/quiz_app/*.iws
/quiz_app/.idea/
/quiz_app/.vscode/
/quiz_app/**/doc/api/
/quiz_app/**/ios/Flutter/.last_build_id
/quiz_app/.dart_tool/
/quiz_app/.flutter-plugins
/quiz_app/.flutter-plugins-dependencies
/quiz_app/.pub-cache/
/quiz_app/.pub/
/quiz_app/build/
/quiz_app/app.*.symbols
/quiz_app/app.*.map.json
/quiz_app/android/app/debug
/quiz_app/android/app/profile
/quiz_app/android/app/release
/routes_app/*.class
/routes_app/*.log
/routes_app/*.pyc
/routes_app/*.swp
/routes_app/.DS_Store
/routes_app/.atom/
/routes_app/.buildlog/
/routes_app/.history
/routes_app/.svn/
/routes_app/migrate_working_dir/
/routes_app/*.iml
/routes_app/*.ipr
/routes_app/*.iws
/routes_app/.idea/
/routes_app/.vscode/
/routes_app/**/doc/api/
/routes_app/**/ios/Flutter/.last_build_id
/routes_app/.dart_tool/
/routes_app/.flutter-plugins
/routes_app/.flutter-plugins-dependencies
/routes_app/.pub-cache/
/routes_app/.pub/
/routes_app/build/
/routes_app/app.*.symbols
/routes_app/app.*.map.json
/routes_app/android/app/debug
/routes_app/android/app/profile
/routes_app/android/app/release
/routes_app_stless/*.class
/routes_app_stless/*.log
/routes_app_stless/*.pyc
/routes_app_stless/*.swp
/routes_app_stless/.DS_Store
/routes_app_stless/.atom/
/routes_app_stless/.buildlog/
/routes_app_stless/.history
/routes_app_stless/.svn/
/routes_app_stless/migrate_working_dir/
/routes_app_stless/*.iml
/routes_app_stless/*.ipr
/routes_app_stless/*.iws
/routes_app_stless/.idea/
/routes_app_stless/.vscode/
/routes_app_stless/**/doc/api/
/routes_app_stless/**/ios/Flutter/.last_build_id
/routes_app_stless/.dart_tool/
/routes_app_stless/.flutter-plugins
/routes_app_stless/.flutter-plugins-dependencies
/routes_app_stless/.pub-cache/
/routes_app_stless/.pub/
/routes_app_stless/build/
/routes_app_stless/app.*.symbols
/routes_app_stless/app.*.map.json
/routes_app_stless/android/app/debug
/routes_app_stless/android/app/profile
/routes_app_stless/android/app/release
/test_http_project/*.class
/test_http_project/*.log
/test_http_project/*.pyc
/test_http_project/*.swp
/test_http_project/.DS_Store
/test_http_project/.atom/
/test_http_project/.buildlog/
/test_http_project/.history
/test_http_project/.svn/
/test_http_project/migrate_working_dir/
/test_http_project/*.iml
/test_http_project/*.ipr
/test_http_project/*.iws
/test_http_project/.idea/
/test_http_project/.vscode/
/test_http_project/**/doc/api/
/test_http_project/**/ios/Flutter/.last_build_id
/test_http_project/.dart_tool/
/test_http_project/.flutter-plugins
/test_http_project/.flutter-plugins-dependencies
/test_http_project/.pub-cache/
/test_http_project/.pub/
/test_http_project/build/
/test_http_project/app.*.symbols
/test_http_project/app.*.map.json
/test_http_project/android/app/debug
/test_http_project/android/app/profile
/test_http_project/android/app/release
/parcial_final/android/app/google-services.json